*{
    margin: 0;;
    text-decoration: none;
    font-family: poppins;
}
body{
    background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt9a4bfdb90a79a06b/66186fec569f275fe1aee70e/[For_Website]_EP8_Act_2_Article_1920x1080_Omen.jpg?auto=webp&disable=upscale&height=549);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: row;
    background-color: #663280;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    color: #F8F0E5;
}
header h2{
   font-family: Tungsten-Bold, arial, georgia, sans-serif;
}
header button{
    padding: 10px;

    gap: 2rem;
    font-size: 18px;
}
#imag{
    width: 100%;
    position: absolute;
    z-index: -1;
}

header button:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid black;
}
.pop-container{
    
    position: center;
    display: flex;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    justify-content: center;
    align-items: center;
    
}
#userpopup{
    display: none;
}
#registerpopup{
    display: none;
}

.popup{
    padding: 3rem;
    padding-bottom: 5rem;
    background-color:#663280;
}
.popup h2{
    display: flex;
    color: #F8F0E5;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
#reset{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}
#reset:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.popup input{
    width: 95%;
    font-size: 20px;
    background-color: #F8F0E5;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-bottom: 5px solid black;
}
.popup input:hover{
    background-color: white;
    
}


#LOGIN-button{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 2px solid #F8F0E5;
    border-radius: 3px;
    padding: 9px;
    color: #F8F0E5;
}
#email-error{

    
    color: red;
    
}
#email-error2{

    
    color: red;
    
}
.popup a{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #F8F0E5;
    text-decoration: underline;
}
#dontaccount{
    background-color: #663280;
    color: black;
    border: none;
    outline: none;
    text-decoration: underline;
    align-items: end;
}
#dontaccount:hover{
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#LOGIN-button:hover{
    cursor: pointer;
    transform: scale(1.3);
}
#Register-button{
    background-color: black;
    border: 2px solid #F8F0E5;
    border-radius: 3px;
    padding: 9px;
    color: #F8F0E5;
}
#Register-button:hover{
    cursor: pointer;
    transform: scale(1.3);
}
